.container{
    height:350px;
    width:400px;
    display:inline-block;
    margin-right:20px;
}

.container1{
    height:350px;
    width:400px;
    Display:inline-block;
    margin-right:20px;

}

img{
    height:250px;
    width:400px;
}


h1{
    text-align:center;
}

h3{
    text-align:center;
}
button{
    background-color:navy;
    color:white;
    width:60px;
}


