*{
    margin:0;
    padding:0;
}

.navbar{
    height:100px;
    background-color:rgb(89, 89, 189);

}

a{
    color:white;
    text-decoration:none;
    font-size:18px;
    margin-right:155px;
    
}
body{
    background-image:url("image4.jpeg");
    background-size:cover;
    width:100%;
}

h1{
    color:hwb(0 100% 0%);
    font-size:45px;
    text-align:center;
}
h2{
    color:white;
    font-size:30px;
}

.container{
    height:150px;
    width:300px;
    background-color:white;
    display:inline-block;
    margin-right:20px;
}

.container1{
    height:150px;
    width:300px;
    background-color:white;
    display:inline-block;
    margin-right:20px;
}
p{
    color:blue;
}
h3{
    color:navy;
    font-size:20px;
    text-align:center;
}

.paragraph{ 
    font-size:18px;
    color:white;
}

button{
    background-color:navy;
    color:white;
    width:60px;
    border-radius:5px;
}
